.modal {
  position: fixed;
  inset: 0;
  background-color: rgba(255, 255, 255, 0.75);
  width: 50%;
  margin: 0px auto;

  inset: 4rem;
  border: 1px solid rgb(204, 204, 204);
  background: rgb(255, 255, 255);
  overflow: auto;
  padding: 2rem;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  position: absolute;
  inset: 2rem;
  overflow: auto;
  border-radius: 4px;
  outline: none;
  padding: 2rem;

  margin-top: 4rem;
}

@media (max-width: 600px) {
  .modal {
    width: 95%;
    inset: 1rem;
  }

  .content {
    padding: 13rem 0;
  }
}

@media (max-width: 375px) {
  .content {
    padding: 2rem;
  }
}
