button {
  all: unset;
  cursor: pointer;
  min-width: 4rem;

  padding: 0.5rem 1rem;

  font-size: 1.4rem;

  font-weight: bold;

  border-radius: 5px;
}

.button-black {
  background-color: #000;
  color: #fff;
}

.button-yellow {
  background-color: #f18805;
}

.button-green {
  background-color: green;
  color: #fff;
}

.container {
  height: 100vh;
}

.container-cropper {
  width: 40%;
  height: 60%;
  padding: 10px;
}

.cropper {
  height: 90%;
  position: relative;
}

.container-buttons {
  border: 1px solid #f5f5f5;
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-preview {
  display: flex;
  width: 152px;
  height: 152px;
}

.user-image {
  width: 152px;
  height: 152px;
}

.user-filter {
  width: 152px;
  height: 100px;

  position: absolute;
  z-index: 1;
  margin-top: 8rem;
}
